@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --gray: #6b7280;
  --light: #eee;
  --pink: #ec4899;
  --purple: #885cf6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--dark);
  color: #fff;
}

h3,
h1 {
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 1rem;
  display: grid;
  justify-content: center;
}

/* header */

.header {
  text-align: center;
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.header h1 {
  font-size: 50px;
  color: #885cf6;
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  text-decoration: none;
}

/* home page */

.home-page,
p {
  display: grid;
  justify-items: center;
  margin-bottom: 0.5rem;
}

.home-image {
  margin-top: 0.5rem;
}

/* search bar */

form {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  text-align: left;
}

input {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 200px;
  flex: 1 1 0%;
  padding: 0.5rem;
  border-radius: 1rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  color: var(--gray);
}

input::placeholder {
  color: var(--gray);
}

button {
  color: var(--pink);
  font-size: 1.25rem;
  font-weight: 700;
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button:hover {
  cursor: pointer;
}

/* movie details */

.movie-details h1,
h3,
p {
  margin-left: 64px;
  margin-right: 64px;
  display: grid;
  justify-content: center;
}

.movie-img {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

img {
  box-shadow: 10px 10px 20px #111827;
}

/* @media only screen and (max-width: 599px) {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--light);
    color: #fff;
  }
} */
