@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --gray: #6b7280;
  --light: #eee;
  --pink: #ec4899;
  --purple: #885cf6;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Quicksand";
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--dark);
  color: #fff;
}

h3,
h1 {
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* header */

.header {
  text-align: center;
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.header h1 {
  font-size: 50px;
  /* border-bottom: 3px solid var(--darkest);
  border-right: 2px solid var(--darkest); */
  /* border-radius: 0.5rem; */
  color: #885cf6;
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* search bar */

form {
  display: flex;
  justify-content: center;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  text-align: center;
}

input {
  max-width: 400px;
  flex: 1 1 0%;
  background-color: var(--darker);
  padding: 0.5rem;
  border-radius: 1rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  color: var(--gray);
}

input::placeholder {
  color: var(--gray);
}

button {
  color: var(--pink);
  font-size: 1.25rem;
  font-weight: 700;
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button:hover {
  cursor: pointer;
}
